[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaml = "*"
jsonpath-ng = "*"
kafka-python = "*"
python-snappy = "*"

[dev-packages]
pylint = "*"
build = "*"

[requires]
python_version = "3.9"
